
:root {

	/**
	 * Layout
	 */
	--sidebar-width: 40%;

	/**
	 * Typography
	 */
	--lydian: 'Lydian', Georgia, serif;
	--lydian-condensed: 'Lydian Condensed', 'Lydian', Georgia, serif;
	--calibre: 'Calibre', 'Avenir', sans-serif;

	--base-line-height: 1.4;

	--title-font-size: 72px;

	--base-font-size: 19px;
	--medium-font-size: 22px;
	--large-font-size: 30px;
	--small-font-size: 14px;

	/**
	 * Colors
	 */
	--white: #fff;
	--off-white: #f2f2f2;
	--light-gray: #fafafa;
	--lighter-gray: #e2e2e2;
	--gray: #959595;
	--dark-gray: #4a4a4a;
	--black: #242424;

	--light-green: #4fc08b;
	--green: #28b171; /* #39a55d */
	--darker-green: #23744e;
	--dark-green: #10412f;

}
