
.page-home {
}

.nav {
	position: absolute;
	top: 2rem;
	left: calc(var(--sidebar-width) + 4rem);
}

.nav a {
	padding: 0 2rem 0 0;
}

.section-sponsors {
	background: var(--light-gray);
}

/**
 * Header
 */

.header {}

/**
 * Intro
 */

.section-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 4rem 0;
	margin-bottom: 8rem;
	height: 90vh;
	text-align: center;
}

.intro-headline {
	margin: 0 auto 2rem;
	max-width: 16em;
	font-size: 42px;
	text-align: center;
}

.intro-heart {
	position: relative;
	top: -2px;
	width: 0.35em;
	vertical-align: middle;
}

.intro-heart path {
	fill: var(--black);
}

.intro-details {
	margin: 0 0 2rem;
	color: #777;
	font-family: var(--calibre);
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.intro-cta a {
	font-size: 20px;
	margin: 0 0.5em;
	border-bottom: 2px #ccc solid;
}

/**
 * Description
 */

.section-description {
	padding: 0 4rem 2rem 4rem;
}

/**
 * Schedule
 */

.section-schedule {
	padding-top: 4rem;
	padding-left: 10%;
	padding-bottom: 4rem;
}

.section-schedule .section-header {
	position: relative;
	margin: 0 0 4rem;
	color: var(--dark-green);
	font-size: 42px;
	line-height: 1.0;
}

.section-schedule .section-header h2 {
	position: relative;
	display: inline-block;
	padding: 0 2rem 0 0;
	background: #fff;
	z-index: 4;
}

.section-schedule .section-header::after {
	background: var(--dark-green);
	content: "";
	position: absolute;
	top: 45%;
	display: block;
	width: 100%;
	height: 6px;
	z-index: 1;
}

.section-schedule .session {
	padding: 3rem 0;
}

.section-schedule .session:first-of-type {
	padding-top: 0;
	margin-top: 2.5rem;
}

.section-schedule .session--last::after {
	content: "";
	position: absolute;
	background: #fff;
	top: 68px;
	left: 5px;
	bottom: 0;
	width: 5px;
}

.section-schedule .session--subsession {
	padding: 2rem 0;
}

/**
 * Register
 */

.section-register {
	padding: 4rem 4rem;
	text-align: center;
}
