
.page-register {
}

.page-register .main {
	padding: 3rem 4rem;
}

.register-headline {
	margin-bottom: 3rem;
	font-size: 36px;
	text-align: center;
}

.register-description {
	font-size: 19px;
	text-align: center;
}

.form {
	margin: 2rem auto;
	max-width: 620px;
}

.form-fieldset {
	margin-bottom: 50px;
}

.form-fieldset-header {
	margin-bottom: 0.5rem;
	color: var(--gray);
	font-family: var(--calibre);
	font-size: 14px;
}

.form-field {
	border-top: 1px #f2f2f2 solid;
	border-bottom: 1px #f2f2f2 solid;
	display: flex;
	align-items: flex-start;
	align-items: center;
	margin: 0;
	padding: 0.5rem 0;
	font-family: var(--calibre);
}

.form-field + .form-field {
	border-top: none;
}

.form-field--error .form-field-label {
	color: var(--red);
}

.form-field-label {
	flex: 0 0 200px;
	align-self: flex-start;
	padding-top: 0.75rem;
}

.form-field-input {
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	vertical-align: middle;
}

/**
 * Ticket Types
 */

.form-field-ticket-type {
	border: none;
	padding: 0;
}

.ticket-type {
	border: 1px #e0e0e0 solid;
	flex-basis: 50%;
	align-self: stretch;
	padding: 16px 18px;
	cursor: pointer;
}

.ticket-type-standard {
	border-right: none;
	border-radius: 4px 0 0 4px;
}

.ticket-type-student {
	border-left: 1px transparent solid;
	border-radius: 0 4px 4px 0;
}

.ticket-type.active {
	background: #f2f2f2;
	border-color: #d2d2d2;
}

.ticket-type-standard.active ~ .ticket-type-student,
.ticket-type-student.active {
	border-left-color: #d2d2d2;
}

.ticket-type-header {
	display: flex;
	margin-bottom: 0.5rem;
	line-height: 18px;
}

.ticket-type-bullet {
	align-self: center;
	margin: 0 0.65rem;
	color: #888;
	font-size: 11px;
}

.ticket-type-title {
	font-weight: bold;
}

.ticket-type-currency {
	align-self: center;
	margin-left: 0.45em;
	color: #888;
	font-size: 12px;
}

.ticket-type-note {
	max-width: 20em;
	color: #888;
	font-size: 14px;
}

/**
 * CVC & Expiry
 */

.form-field-cvc .cvc-number,
.form-field-expiry .exp-month,
.form-field-expiry .exp-year {
	width: auto;
	letter-spacing: 0.03em;
}

.form-field .card-number {
	letter-spacing: 0.03em;
}

.form-field-expiry .exp-divider,
.form-field-expiry .exp-format {
	color: #888;
	font-size: 16px;
	cursor: default;
}

.form-field-expiry .exp-divider {
	margin: 0 0.75rem;
	user-select: none;
}

.form-field-expiry .exp-format {
	margin: 0 0 0 1rem;
}


/**
 * Payment Section
 */

.form-submit {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 4rem 0 0;
	text-align: center;
}

.form-submit-security {
	display: flex;
	align-items: center;
	padding-top: 0.35rem;
	max-width: 22em;
	color: var(--dark-gray);
	font-family: var(--calibre);
	font-size: 14px;
	text-align: left;
}

.form-submit-security-icon {
	flex: 1 0 16px;
	margin-right: 1rem;
}

.form-submit-payment {
	/*text-align: right;*/
}

.form-submit-button {
	background: var(--green);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 0.5rem;
	padding: 0.7rem 1.8rem;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form-submit-button:not(.form-submit-button--loading):hover {
	background: var(--darker-green);
	color: color(var(--white) alpha(-30%));
}

.form-submit-button[disabled],
.form-submit-button[disabled]:hover {
	background: var(--gray);
	color: var(--off-white);
}

.form-submit-button-prompt-text {
	position: relative;
	z-index: 2;
	display: block;
	opacity: 1.0;
	width: 80px;
	transition: width 700ms cubic-bezier(0.455, 0.030, 0.515, 0.955), opacity 250ms linear 50ms;
}

.form-submit-button-loading-text {
	position: absolute;
	/**
	 * NB: This `left` value should be kept in sync with the `padding-left` of
	 * the `.form-submit-button` class.
	 */
	left: 1.2em;
	opacity: 0.0;
	transition: opacity 250ms linear 50ms;
}

.form-submit-button-spinner {
	border: 2px var(--darker-green) solid;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 1.2em;
	opacity: 0.0;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	transition: opacity 500ms ease 200ms;
	animation: rotate 500ms linear infinite;
	animation-play-state: paused;
}

.form-submit-button--loading .form-submit-button-prompt-text {
	opacity: 0.0;
	width: 110px;
}

.form-submit-button--loading .form-submit-button-loading-text {
	opacity: 1.0;
}

.form-submit-button--loading .form-submit-button-spinner {
	opacity: 1.0;
	animation-play-state: running;
}

.form-submit-error,
.form-submit-total {
	display: block;
	color: #777;
	font-family: var(--calibre);
	font-size: 14px;
}

.form-submit-error {
	display: none;
	margin-bottom: 0.25rem;
	padding-right: 0;
	color: var(--red);
}

.form--has-errors .form-submit-error {
	display: block;
}
