
.session {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAMAAABh9kWNAAAAA1BMVEX19fWwaZ+KAAAACklEQVR4AWNAAgAADAAB+560hQAAAABJRU5ErkJggg==);
	background-position: 5px 0;
	background-repeat: repeat-y;
	position: relative;
	display: flex;
	max-width: 35em;
	font-family: var(--calibre);
}

.session-meta {
	flex: 0 0 25%;
	max-width: 150px;
	font-size: 14px;
}

.session-time {
	display: flex;
	align-items: center;
	color: var(--dark-gray);
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.session-time-circle {
	background: #fff;
	border: 3px #9a9a9a solid;
	border-radius: 50%;
	box-shadow: 0 0 0 6px #fff;
	position: relative;
	display: inline-block;
	margin: 0 1em 0 0;
	width: 14px;
	height: 14px;
}

.session-time-ampm {
	padding-left: 0.15em;
	color: var(--gray);
}

.session-location {
	margin-bottom: 1rem;
	font-family: var(--calibre);
}

.session-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.session-speaker {
	margin-bottom: 0.25rem;
	font-size: 28px;
	line-height: 1.15;
}

.session-title {
	margin-bottom: 2rem;
	color: var(--gray);
	font-size: 16px;
	line-height: 1;
}

.session-description {
	font-family: var(--calibre);
}

.session-description a {
	border-bottom: 2px currentColor solid;
}

/**
 * Speaker Styles
 */

.session-speaker-about {
	position: relative;
	display: flex;
	margin-top: 2rem;
	color: var(--gray);
}

.session-speaker-image {
	box-shadow: 0 0 0 6px #fff;
	/** **/
	position: absolute;
	top: -18px;
	left: -184px;
	/** **/
	z-index: 9;
	margin-right: 1rem;
	max-width: 80px;
	user-select: none;
}

.session-speaker-image img {
	border-radius: 50%;
	vertical-align: bottom;
}

.session-speaker-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.session-speaker-details-name {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.session-speaker-details-title {
	margin-bottom: 1rem;
	font-size: 14px;
}

.session-speaker-details-description {
	font-size: 16px;
}

/**
 * Event-specific Overrides
 */

.session--lecture .session-time-circle {
	border-color: var(--green);
}

.session--qa .session-title {
	font-size: 20px;
}

.session--qa .session-with {
	color: var(--gray);
	font-weight: normal;
}

.session--misc .session-title,
.session--after .session-title {
	font-size: 22px;
}

.session--misc .session-time-circle,
.session--after .session-time-circle,
.session--break .session-time-circle {
	border-color: var(--lighter-gray);
}

.session--break .session-title {
	color: var(--gray);
	font-size: 19px;
}

.session--group .session-title {
	color: var(--green);
	font-size: 28px;
}

.session--subsession .session-speaker {
	font-size: 20px;
}

.session--subsession.session--workshop .session-meta {
	padding-top: 10px;
}

.session--subsession .session-time-circle {
	background: #9a9a9a;
	border: none;
	left: 3px;
	width: 7px;
	height: 7px;
}

.session--podcast {}

.session-interviewees {
	display: flex;
	margin-top: 1rem;
}

.interviewee {
	font-size: 14px;
}

.interviewee-image {
	max-width: 54px;
}

.interviewee-image img {
	border-radius: 50%;
}

.interviewee-name {
	font-weight: bold;
}

.session--after {
	background-image: none;
}

/**
 * Session Meta Alignment
 *
 * Different title type sizes need different alignment offsets,
 * so they're all grouped here, rather than mixed in with the
 * other category specific changes.
 */
.session--qa .session-meta {
	padding-top: 7px;
}
.session--misc .session-meta {
	padding-top: 3px;
}
.session--group .session-meta {
	padding-top: 5px;
}
.session--podcast .session-meta {
	padding-top: 8px;
}
.session--lecture .session-meta {
	padding-top: 8px;
}
