
{% set showSpeaker = speaker && type !== 'qa' %}
{% set showBiography = type === 'lecture' || type === 'podcast' %}
{% set isLast = last === true %}

{# TODO: add subevent microformats #}
<div class="session{% if type %} session--{{ type }}{% endif %}{% if isSubsession %} session--subsession{% endif %}{% if isLast %} session--last{% endif %}">
	<div class="session-meta">
		<div class="session-time">
			<span class="session-time-circle"></span>
			{% if start && !isSubsession %}
				<span class="session-time-hhmm">{{ start | date('g:i') }}</span>
				<span class="session-time-ampm">{{ start | date('a') }}</span>
			{% endif %}
		</div>
	</div>
	<div class="session-content">
		{% if showSpeaker %}
			<div class="session-speaker">{{ speaker.name }}</div>
		{% endif %}
		<div class="session-title">
			{{- title -}}
			{%- if type == 'qa' -%}
				<span class="session-with"> with {{ speaker.name }}</span>
			{%- endif %}
			{%- if type == 'misc' && subtitle -%}
				<span class="session-subtitle"> {{ subtitle }}</span>
			{%- endif -%}
		</div>
		{% if location && isGuide %}
			<div class="session-location">{{ location }}</div>
		{% endif %}
		<div class="session-description">{{ description | markdown | newtab | safe }}</div>
		{% if type == 'podcast' %}
			<div class="session-interviewees">
			{% for person in interviewees %}
				<div class="interviewee">
					<div class="interviewee-image">
						<img src="/assets/img/speakers/{{ person.name | replace(' ', '-', 'g') | lower }}.jpg" />
					</div>
					<div class="interviewee-name">{{ person.name }}</div>
					<div class="interviewee-title">{{ person.title }}</div>
				</div>
			{% endfor %}
			</div>
		{% endif %}
		{% if showSpeaker %}
			<div class="session-speaker-about">
				<div class="session-speaker-image">
					<img src="/assets/img/speakers/{{ speaker.name | replace(' ', '-', 'g') | lower }}.jpg" />
				</div>
				<div class="session-speaker-details">
					<div class="session-speaker-details-name">{% if showBiography %}About {% endif %}{{ speaker.name }}</div>
					<div class="session-speaker-details-title">{{ speaker.title }}</div>
					{% if showBiography %}
						<div class="session-speaker-details-description">{{ speaker.biography }}</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
