{% extends 'site.html' %}

{% block id -%}
	register
{%- endblock %}

{% block headline -%}
	Register
{%- endblock %}

{% block main %}

	<div class="register-description">
		<p>We provide a discount for students of Wycliffe and Tyndale Seminary.</p>
	</div>

	<form action="http://159.203.6.69:14984/stripe" method="POST" class="form">
	  <span class="payment-errors"></span>
		<h3>Ticket</h3>
		<div class="form-field">
			<div class="form-field-label">
				<label for="ticket_type">Ticket Type</label>
			</div>
			<div class="form-field-input">
				<input type="radio" name="ticket_type" class="hidden" id="ticket_type_REGULAR" value="regular" checked />
				<label class="ticket-type" for="ticket_type_REGULAR">
					<div class="ticket-type-header">
						<div class="ticket-type-title">Regular</div>
						<div class="ticket-type-price">$40</div>
					</div>
					<div class="ticket-type-note">For everyone else.</div>
				</label>
				<input type="radio" name="ticket_type" class="hidden" id="ticket_type_STUDENT" value="student" />
				<label class="ticket-type" for="ticket_type_STUDENT">
					<div class="ticket-type-header">
						<div class="ticket-type-title">Student</div>
						<div class="ticket-type-price">$20</div>
					</div>
					<div class="ticket-type-note">For students of Wycliffe College or Tyndale Seminary. Valid Student ID required.</div>
				</label>
			</div>
		</div>
		<h3>About You</h3>
		<div class="form-field">
			<div class="form-field-label">
				<label for="full_name">Full Name</label>
			</div>
			<div class="form-field-input">
				<input type="text" name="full_name" size="35" id="full_name" />
			</div>
		</div>
		<div class="form-field">
			<div class="form-field-label">
				<label for="email">Email Address</label>
			</div>
			<div class="form-field-input">
				<input type="email" name="email" size="35" id="email" />
			</div>
		</div>
		<h3>Payment Details</h3>
		<div class="form-field">
			<div class="form-field-label">
				<label for="card_number">Card Number</label>
			</div>
			<div class="form-field-input">
				<input type="text" pattern="\d*" name="card_number" id="card_number" size="40" data-stripe="card" />
			</div>
	  </div>
	  <div class="form-field">
			<div class="form-field-label">
				<label for="cvc_number">CVC</label>
			</div>
			<div class="form-field-input">
				<input type="text" name="cvc_number" id="cvc_number" size="4" data-stripe="cvc"/>
			</div>
	  </div>
	  <div class="form-field">
			<div class="form-field-label">
				<span>Expiry Date</span>
			</div>
			<div class="form-field-input">
				<input type="text" size="2" data-stripe="exp-month"/>
				<span> / </span>
				<input type="text" size="4" data-stripe="exp-year"/>
				<span>MM / YYYY</span>
			</div>
	  </div>
		<div class="form-payment">
		  <button type="submit" class="form-submit">
				<span class="form-submit-prompt-text">Make Payment</span>
				<span class="form-submit-loading-text">Submitting...</span>
				<span class="form-submit-spinner"></span>
			</button>
			<span class="form-total">(Total $20 CAD)</span>
		</div>
	</form>
	<script src="https://js.stripe.com/v2/"></script>

{% endblock %}
