
::selection {
	background: rgba(25, 25, 25, 0.25);
}

body {
	background: var(--off-white);
	color: var(--black);
	font-family: var(--lydian);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page {
	display: flex;
	background: var(--white);
	min-height: 100vh;
}

.main {
	flex: 0 0 calc(100% - var(--sidebar-width));
	margin-left: var(--sidebar-width);
}
