
input[type="text"],
input[type="email"],
button[type="submit"] {
	border: none;
	appearance: none;
	outline: none;
}

input[type="text"],
input[type="email"] {
	background: #f2f2f2;
	padding: 0.6em;
	font-size: 20px;
}

button {
	background: var(--gray);
	border-radius: 4px;
	display: block;
	padding: 0.75em 1.25em;
	color: var(--white);
	font-family: var(--calibre);
	font-size: 18px;
}
