
input[type="text"],
input[type="email"],
button[type="submit"] {
	border: none;
	appearance: none;
	outline: none;
}

input[type="text"],
input[type="email"] {
	background: #f6f6f6;
	border: 1px #eaeaea solid;
	border-radius: 2px;
	padding: 0.55em;
	width: 100%;
	font-size: 20px;
	transition: border 150ms var(--base-ease);
}

input[type="text"]:focus,
input[type="email"]:focus {
	border: 1px #ccc solid;
}

fieldset {
	padding: 0;
	border: none;
}

button {
	background: var(--gray);
	border-radius: 4px;
	display: block;
	padding: 0.75em 1.25em;
	color: var(--white);
	font-family: var(--calibre);
	font-size: 18px;
}
