
.sidebar {
	background: var(--green);
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	width: var(--sidebar-width);
	transition: background var(--page-transition-duration) var(--base-ease);
}

.page-register .sidebar {
	background: var(--black);
}

.sidebar-header {
	position: relative;
	align-self: stretch;
	z-index: 2;
}

.sidebar-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.sidebar-date,
.sidebar-footer,
.sidebar-register-button {
	opacity: 1.0;
	transform: none;
	transition:
		opacity 400ms ease 100ms,
		transform 400ms ease 100ms;
}

/*.sidebar.inactive .sidebar-date,
.sidebar.inactive .sidebar-cta,
.sidebar.inactive .sidebar-register-button {
	opacity: 0.0;
	transform: translateY(0.7rem);
}*/

.sidebar-title {
	color: var(--white);
	font-family: var(--lydian-condensed);
	font-size: 72px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
	line-height: 1.1;
}

.sidebar-title .word {
	display: block;
}

.sidebar-heart path {
	fill: var(--darker-green);
	transition: fill var(--page-transition-duration) ease;
}

.page-register .sidebar .sidebar-heart path {
	fill: var(--white);
}
